body {
  padding: 0;
  margin: 0;
  background-color: #030915;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#parallaxContain {
  height: 900px;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: fixed;
  z-index: -1;
}



.background {
  background-image: url("https://i.imgur.com/lSjMdmP.png");
  z-index: -5;
}

.deer1 {
  background-image: url("https://i.imgur.com/h5ytoCW.png");
  z-index: -3;
}

.deer2 {
  background-image: url("https://i.imgur.com/iA5wjCD.png");
  z-index: -2;
}

.deer3 {
  background-image: url("https://i.imgur.com/XsIxv6t.png");
  z-index: -4;
}

.deer4 {
  background-image: url("https://i.imgur.com/KG9eJMD.png");
}body {body {
  padding: 0;
  margin: 0;
  background-color: #030915;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#parallaxContain {
  height: 900px;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: fixed;
  z-index: -1;
}



.background {
  background-image: url("https://i.imgur.com/lSjMdmP.png");
  z-index: -5;
}

.deer1 {
  background-image: url("https://i.imgur.com/h5ytoCW.png");
  z-index: -3;
}

.deer2 {
  background-image: url("https://i.imgur.com/iA5wjCD.png");
  z-index: -2;
}

.deer3 {
  background-image: url("https://i.imgur.com/XsIxv6t.png");
  z-index: -4;
}

.deer4 {
  background-image: url("https://i.imgur.com/KG9eJMD.png");
}

.border {
  background-image: url("https://i.imgur.com/yTyWFzq.png");
}

#content {
  background-color: #030915;
}

.section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#parallaxContain, .layer {
  min-height: 800px;
}



.layer2 {
  width: 100%;
  height: 800px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

#bg2 {
  background-image: url('https://i.imgur.com/dm7CPmd.jpg');
  opacity:0;
  border-radius: 100%;
}

#deer2 {
  background-image: url('https://i.imgur.com/xwcQYMa.png');
  margin-left: -30px;
  opacity: 0;
}

#shadow2 {
  margin-left: -31px;
  background-image: url('https://achaacha.github.io/experiments/svg/deerlayer2-3.svg');
}
  padding: 0;
  margin: 0;
  background-color: #030915;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

#parallaxContain {
  height: 900px;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  position: fixed;
  z-index: -1;
}



.background {
  background-image: url("https://i.imgur.com/lSjMdmP.png");
  z-index: -5;
}

.deer1 {
  background-image: url("https://i.imgur.com/h5ytoCW.png");
  z-index: -3;
}

.deer2 {
  background-image: url("https://i.imgur.com/iA5wjCD.png");
  z-index: -2;
}

.deer3 {
  background-image: url("https://i.imgur.com/XsIxv6t.png");
  z-index: -4;
}

.deer4 {
  background-image: url("https://i.imgur.com/KG9eJMD.png");
}

.border {
  background-image: url("https://i.imgur.com/yTyWFzq.png");
}

#content {
  background-color: #030915;
}

.section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#parallaxContain, .layer {
  min-height: 800px;
}



.layer2 {
  width: 100%;
  height: 800px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

#bg2 {
  background-image: url('https://i.imgur.com/dm7CPmd.jpg');
  opacity:0;
  border-radius: 100%;
}

#deer2 {
  background-image: url('https://i.imgur.com/xwcQYMa.png');
  margin-left: -30px;
  opacity: 0;
}

#shadow2 {
  margin-left: -31px;
  background-image: url('https://achaacha.github.io/experiments/svg/deerlayer2-3.svg');
}

.border {
  background-image: url("https://i.imgur.com/yTyWFzq.png");
}

#content {
  background-color: #030915;
}

.section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

p {
  color: #ede0d5;
  font-size: 18px;
  line-height: 150%;
}

#parallaxContain, .layer {
  min-height: 800px;
}



.layer2 {
  width: 100%;
  height: 800px;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

#bg2 {
  background-image: url('https://i.imgur.com/dm7CPmd.jpg');
  opacity:0;
  border-radius: 100%;
}

#deer2 {
  background-image: url('https://i.imgur.com/xwcQYMa.png');
  margin-left: -30px;
  opacity: 0;
}

#shadow2 {
  margin-left: -31px;
  background-image: url('https://achaacha.github.io/experiments/svg/deerlayer2-3.svg');
}
